#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#WIP {
    width: 256px;
    height: auto;
}